//the header (despite containing code relating to typography) goes in here as it will be used over and over perhaps?

.header {
  height: 95vh;
  //see below - in sass you can use a var as an rgba and specify the opacity!!!!
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.75), rgba($color-primary-dark, 0.75)), url("../img/hero.jpg"); //this is putting one image on top of the other
  background-size: cover; //whatever the width of the viewport it will always try to fit the element inside the box
  background-position: top; //this makes sure whatever the viewport size, the top of the image always stays at the top of the container.
  position: relative; //in logo-box below we set it to absolute and it's position depends on this parent element being positioned relative
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo-box {
    position: absolute; //this depends on parent element being set to relative
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    //this depends on parent element being set to relative
    position: absolute;
    //think the below depends on the element being absolute, which then depends on parent being relative?
    top: 40%; //also this means the element will start at 50% of the parent so need to play around with it so the centre is at 50% and not the edge
    left: 50%;
    transform: translate(-50%, -50%); //this is saying these 50% are in relation to the element itself and not the parent element anymore.
    text-align: center;
  }
}